
    body {
      margin: 0;
      font-family: sans-serif;
      padding: 20px;
      background-color: #f5f5f5;
    }

    
  .logo {
  width: 200px;
  height: auto;
  display: block;
  margin: 20px auto;
  max-width: 90%;
    }
    

    .caixa-branca {
  background-color: rgb(95, 153, 206);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto 40px auto; /* antes era 140px no topo */
  max-width: 800px;
  box-shadow: 0px 2px 5px rgb(95, 153, 206) ;
    }

    .container {
      overflow-x: auto;
      max-width: 100%;
    }

    .tabela {
      width: 100%;
      border-collapse: collapse;
      background-color: rgb(255, 255, 255);
    }

    .tabela th,
    .tabela td {
      border: 1px solid #000000;
      padding: 10px;
      text-align: left;
      box-shadow: 1px 1px 10px #656262;
    }

    .tabela th {
      background-color: rgb(95, 153, 206);
      box-shadow: 1px 1px 10px #656262;
    }

    /*Exercício: Criar uma tabela zebra aqui irei colocar os codigos do exercicio */
    tr:nth-child(even) {
      background-color:rgba(32, 0, 193, 0.403);
    }
    tr:nth-child(odd){
      background-color: rgba(0, 85, 255, 0.5)
    }
tr:hover{
   transition: all 1s linear;
  background-color:rgb(240, 143, 182) ;
}

.logo-container {
  text-align: center;
  margin-bottom: 30px; /* Garante espaço entre a logo e a caixa azul */
  box-shadow: 0px 2px 10px #656262;
  width: 20%;
  margin: auto;
  border-radius: 60%;
}

@media only print {
.logo-container {
    display: none;
  }

  .caixa-branca {
    display: none;
  }

  .tabela {
    width: 100%;
    font-size: 10pt; /* reduz o tamanho da fonte */
  }

  .tabela th,
  .tabela td {
    padding: 5px; /* reduz o padding das células */
    font-size: 10pt;
  }

  body {
    margin: 0;
    padding: 10mm; /* margem para impressão */
    background-color: white; /* fundo branco para impressão */
  }

  .container {
    overflow-x: visible; /* garante que tudo seja mostrado na impressão */
  }
}
